<launch>
  <arg name="launch_roswww" default="true" />
  <include file="$(find roswww)/launch/roswww.launch" if="$(arg launch_roswww)">
    <arg name="port" value="8000" />
  </include>

  <!-- rosbridge_server -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

  <param name="language" value="en-US"/>
  <param name="candidates_num" value="7"/>
  <node pkg="web_speech_recognition" type="bringup_chrome.py" name="bringup_chrome"/>

</launch>
